html {
    background-color:black;
  }
  
  p {
    padding-top: 50px;
    padding-right: 0;
    padding-left: 100px;
  }
  
  #mono {
    font-family: monospace;
    font-size: 13px;
    line-height: 9px;
    padding-bottom: 60px;
    letter-spacing: 1px;
  }
  
  body {
      color: white;
  } 