

#background { 
position: relative;
width: 1520px;
height: 8171px;
background: linear-gradient(180deg, #4A84C8 0%, #7B809B 35.5%, #B27B68 54.5%, #EE7531 77%);
}


/* life got you down? */

#desktop1text{
position: absolute;
width: 717px;
height: 456px;
left: 128px;
top: 295px;

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 145px;
line-height: 228px;

color: #FFFFFF;
}



/* Let us make your day a little better with our jokes of the day applet */

#desktop3text{
position: absolute;
width: 1142px;
height: 349px;
left: 109px;
top: 2373px;

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 75px;
line-height: 120px;
/* or 160% */

color: #FFFFFF;}



/* If a new joke is available from jokesotheday.net, */

#desktop4text{
position: absolute;
width: 1146px;
height: 184px;
left: 105px;
top: 3168px;

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 75px;
line-height: 120px;
/* or 160% */

color: #FFFFFF;}



/* Then you will be sent a notification! */

#desktop5text{
position: absolute;
width: 1146px;
height: 184px;
left: 268px;
top: 3595px;

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 75px;
line-height: 120px;
/* or 160% */
text-align: right;

color: #FFFFFF;}



/* Life is hard sometimes, but we got your back with a laugh everyday! */

#desktop11text{
position: absolute;
width: 1146px;
height: 184px;
left: 101px;
top: 7242px;

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 75px;
line-height: 120px;
/* or 160% */

color: #FFFFFF;}



/* We get it. */

#desktop2text{
position: absolute;
width: 637px;
height: 236px;
left: 739px;
top: 1388px;

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 236px;

color: #FFFFFF;}

#sadface{
position: absolute;
width: 432px;
height: 432px;
left: 1038.96px;
top: 36px;

transform: rotate(7.58deg);

}

#sadfacewhite:hover {
    fill: #EE7531;
}

/* Group 4 */
#homescreenphone{ 
position: absolute;
width: 404px;
height: 897px;
left: 557px;
top: 4150px;}

#phonescreen{ 
position: absolute;
width: 404px;
height: 897px;
left: 557px;
top: 4139px;
}

#joker{
position: absolute;
width: 694px;
height: 585px;
left: 324px;
top: 6309px;
}

#connect{
position: absolute;
width: 660px;
height: 222px;
left: 428px;
top: 5646px;
}


#smile
{


position: absolute;
width: 432px;
height: 432px;
left: 1040.96px;
top: 7459px;

transform: rotate(7.58deg);

}