
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}

#blob {
    background: #17646B;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


#title {
    position: absolute;
    width: auto; 
    height: auto;
    left: 130px;
    top: 399px;
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    color: #5FBEC7;
}


#name {
    position: absolute;
    width: auto; 
    height: auto;
    left: 557px;
    top: 506px;
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    color: #5FBEC7;
}

#flexwrapper {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    left: 444px;
    top: 627px;
}

#blob1 {
    position: absolute;
    width: 570px;
    height: 250px;
    left: 1px;
    top: 0px;
}

#blob2 {
    position: absolute;
    width: 400px;
    height: 330px;
    right: 0px;
    top: 0px;
}

#blob3 {
position: absolute;
width: 350px;
height: 280px;
left: 0px;
bottom: 0px;
}

#blob4 {
position: absolute;
width: 300px;
height: 300px;
right: 0px;
bottom: 0px;
}

#flexwrapper2{
display: flex;
position: absolute;
align-items: center;
justify-content: center;
flex-wrap: wrap;
position: absolute;
width: 609px;
height: 97px;
left: 472px;
top: 290px;
}


#rectangle1text{
position: absolute;
width: 155px;
height: 55px;
font-family: 'Albert Sans';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
color: #17646B;
align-items: center;
justify-content: center;}

#flexwrapper3{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 609px;
    height: 97px;
    left: 472px;
    top: 426px;
    }


    #rectangle2text{
        position: absolute;
        width: 155px;
        height: 55px;
        font-family: 'Albert Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #17646B;
        align-items: center;
        justify-content: center;}


        #flexwrapper4{
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: absolute;
            width: 609px;
            height: 97px;
            left: 472px;
            top: 562px;


            }

#rectangle3text{
position: absolute;
width: 155px;
height: 55px;
font-family: 'Albert Sans';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
color: #17646B;
align-items: center;
justify-content: center;}


#flexwrapper5{
display: flex;
position: absolute;
align-items: center;
justify-content: center;
flex-wrap: wrap;
position: absolute;
 width: 609px;
 height: 97px;
left: 472px;
top: 698px; }

#rectangle4text{
position: absolute;
width: 300px;
height: 55px;
font-family: 'Albert Sans';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
color: #17646B;
align-items: center;
}


#flexwrapper6 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
width: 72px;
height: 51px;
left: 28px;
top: 39px;

}

#flexwrapper7 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    width: 347px;
    height: 493px;
    left: 120px;
    top: 250px;
}



#blob1text{
position: absolute;
width: 445px;
height: 55px;
left: 45px;
top: 487px;
font-family: 'Albert Sans';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
text-align: center;
color: #FFFFFF;}



