html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 241, 129);
  }
  canvas {
    display: block;
  }
  
  
  #wand {
    position: fixed;
    width: 100px;
    height: 100px;
    transition: 1s;
  }
  
  #wand > img {
    width: 100px;
    height: auto;
  }
  
  body:active > #wand {
    transform: rotate(90deg);
  }